body {
  margin: 30px;
  padding: 0;
  background: #fff;
  color: #222;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

a {
  color: #0088cc;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

p {
  margin: 15px 0;
}

.header {
  position: relative;
  margin: 30px 0 10px 0;
}
  .header h1 {
    margin: 0;
    font-size: 50px;
    font-weight: 300;
    line-height: 50px;
    letter-spacing: -2px;
  }
  .header .gh-link {
    position: absolute;
    top: 2px;
    left: 380px;
    margin: 0;
    padding: 0 0 0 15px;
    border-left: 2px solid #222;
    font-size: 18px;
    line-height: 50px;
    white-space: nowrap;
  }

.subtitle {
  margin: 10px 0 30px 0;
  color: #666;
  font-size: 18px;
  line-height: 22px;
}

h2 {
  margin: 30px 0 20px 0;
  color: #666;
  font-size: 24px;
  font-weight: 300;
  line-height: 1em;
}
  h2 a {
    color: #222;
  }

h3 {
  margin: 15px 0 10px 0;
  color: #888;
  font-family: Monaco, "Lucida Console", monospace;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.left-align {
  width: 740px;
}

.buttons {
  white-space: nowrap;
}
  .buttons .button {
    margin: 0 5px 5px 0;
  }

.global-counter {
  float: right;
  color: #666;
  font-size: 50px;
  font-weight: 600;
  line-height: 1em;
}

#flat-slider {
  height: 50px;
  border-radius: 6px;
}
  #flat-slider .handle {
    width: 120px;
    padding: 0;
    text-align: center;
  }

.top-space {
  margin-top: 30px;
}
